.git
.env
.env.*
!.env.example

node_modules

dist
dist-api
dist-server
dist-web
build
.vite
coverage
storybook-static
playwright-report
test-results

*.log
*.tsbuildinfo
sqlite.db
*.sqlite
*.sqlite3

.DS_Store
